
@import "tailwindcss";


:root {
  --background: #0a0a0a; 
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-gray-800;
  }
}